{% extends 'base.html.twig' %}

{% block body %}
    <section class="dashboard">
        <div class="container">
            <div class="row">
                <div class="dashboard__wrapper">
                    <div class="dashboard__statics">
                        <div class="dashboard__statics--count dashboard__static">
                            <h3 class="dashboard__statics--title">ORDER COUNT</h3>
                            <p class="dashboard__statics--para">{{ orders | length }}</p>
                        </div>
                    </div>
                    <div class="dashboard__statics">
                        <div class="dashboard__statics--count dashboard__static">
                            <h3 class="dashboard__statics--title">REVENUE</h3>
                            <p class="dashboard__statics--para">
                                {% set totalRevenue = 0 %}
                                {% for order in orders %}
                                    {% set totalRevenue = totalRevenue + order.orders.price %}
                                {% endfor %}
                                €{{ totalRevenue }},-
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
