{% extends 'base.html.twig' %}

{% block body %}
<section class="landing">
    <div class="container">
        <div class="row">
            <div class="landing__wrapper">
                <div class="landing__description">
                    <h1 class="landing__description--title">Lorem Ipsum Dolor.</h1>
                    <p class="landing__description--para">Lorem ipsum dolor amet ipsum dolor amet, imit olor ipsum dolor amet.</p>
                </div>
                <div class="landing__banner">
                    <img src="" class="landing__banner--img" alt="Pizza Banner/Video">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="steps">
    <div class="container">
        <div class="row">
            <div class="steps__wrapper">
                <div class="steps__step steps__one">
                    <img class="steps__step--icon" src="" alt="ORDER" />
                    <h5 class="steps__step--title">ORDER</h5>
                    <p class="steps__step--para">Lorem ipsum dolor amet lorand ipsum dolor amet lorand, ipsum dolor amet lorand.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
