{% extends 'base.html.twig' %}

{% block body %}
<section class="landing">
    <div class="container">
        <div class="row">
            <div class="landing__wrapper">
                <div class="landing__description">
                    <h1 class="landing__description--title">Het beste van Italie!</h1>
                    <p class="landing__description--para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta velit vel auctor faucibus. Duis non arcu sit amet eros maximus viverra in ut mauris. Proin at justo a lectus ultricies tincidunt et at libero.</p>
                </div>
                <div class="landing__banner">
                    <img src="{{ asset('img/landing.jpg') }}" class="landing__banner--img" alt="Pizza Banner/Video">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="steps">
    <div class="container">
        <div class="row">
            <div class="steps__wrapper">
                <div class="steps__step steps__one">
                    <div class="steps__step--icon">
                        <i class="fas fa-mouse-pointer"></i>
                    </div>
                    <h5 class="steps__step--title">ORDER</h5>
                    <p class="steps__step--para">Lorem ipsum dolor amet lorand ipsum dolor amet lorand, ipsum dolor amet lorand.</p>
                </div>
                <div class="steps__step steps__one">
                    <div class="steps__step--icon">
                        <i class="fas fa-money-bill-wave-alt"></i>
                    </div>
                    <h5 class="steps__step--title">PAY</h5>
                    <p class="steps__step--para">Lorem ipsum dolor amet lorand ipsum dolor amet lorand, ipsum dolor amet lorand.</p>
                </div>
                <div class="steps__step steps__one">
                    <div class="steps__step--icon">
                        <i class="fas fa-pizza-slice"></i>
                    </div>
                    <h5 class="steps__step--title">ENJOY</h5>
                    <p class="steps__step--para">Lorem ipsum dolor amet lorand ipsum dolor amet lorand, ipsum dolor amet lorand.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
