/*COLORS

DARK GREEN: #395144
GREEN: #4E6C50
BROWN: #AA8B56
BEIGE: #F0EBCE

*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style-type: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 24px 8px;
}

a {
    text-decoration: none;
}

.section__title {
    padding: 12px 0;
    font-size: 28px;
    font-weight: 600;
    color: #395144;
}

.page__banner {
    width: 100%;
    height: 250px;
}

.page__banner--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.btn {
    padding: 8px 12px;
    background: #395144;
    color: #F0EBCE;
    border-radius: 4px;
    font-size: 20px;
    border: none;
    margin: 4px 0;
    cursor: pointer;
    margin: 16px 0;
}

.form__select {
    padding: 4px;
    border-radius: 8px;
    margin: 4px 0;
}

.alert {
    width: 100%;
    color: #155724;
    background-color: #d4edda;
    border: solid 2px #c3e6cb;
    font-weight: 300;
    padding: 12px;
    border-radius: 4px;
    margin: 12px 0;
}

.alert__success {
    color: #155724;
    background-color: #d4edda;
    border: solid 2px #c3e6cb;
}

.alert__error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}


/*

    NAV

*/

.user__list {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #fff;
    border-radius: 0 8px 8px 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.user__list--img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.user__list--link {
    padding: 8px 12px;
}

.user__list--link:hover {
    background-color: #F5F5F5;
}

.user__list--link:hover:first-child {
    border-radius: 0 8px 0 0;
}

.user__list--link:hover:last-child {
    border-radius: 0 0 8px 8px;
}

.user__list--hyper {
    color: #395144;
}

.user__dropdown:hover .user__list {
    display: block;
}

nav {
    padding: 0 12px;
    margin: 24px 0;
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    gap: 32px;
}

.nav__logo--title {
    font-weight: 800;
    font-size: 32px;
    color: #395144;
}

.nav__list--link {
    font-size: 18px;
    cursor: pointer;
}

.nav__list--hyper {
    color: #395144;
}

/*

    LANDING

*/

.landing {
    width: 100%;
    height: 80vh;
    padding: 0 12px;
}

.landing__wrapper {
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing__description {
    width: 100%;
}

.landing__description--title {
    font-size: 40px;
    color: #395144;
    max-width: 400px;
}

.landing__description--para {
    font-size: 18px;
    font-weight: 300;
    color: #242424;
    max-width: 400px;
}

.landing__banner {
    height: 100%;
    width: 100%;
}

.landing__banner--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/*

    STEPS

*/

.steps__wrapper {
    display: flex;
    gap: 8px;
}

.steps__step {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.steps__step--icon {
    padding: 16px;
    width: 100px;
    height: 100px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #395144;
    border-radius: 50%;
    color: #F0EBCE;
}

.steps__step--title {
    color: #AA8B56;
    font-size: 24px;
    letter-spacing: 2px;
}

.steps__step--para {
    font-size: 16px;
    font-weight: 300;
    color: #242424;
    text-align: center;
}

/*

    DASHBOARD

*/

.dashboard__titles {
    display: flex;
    justify-content: space-between;
}

.status {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #242424;
    padding: 4px;
}

.status__todo {
    background-color: #ff6668;
}

.status__inprogress {
    background-color: #ffa540;
}

.status__done {
    background-color: #7dff74;
}

.dashboard__table--list {
    border-radius: 3px;
    padding: 25px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
}

.dashboard__table--cell {
    flex-basis: 15%;
    text-align: center;
}

.dashboard__table--header {
    background-color: #395144;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    width: 100%;

}

.dashboard__table--row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.dashboard__orders--wrapper {
    margin: 32px 0;
}

.dashboard__orders--title {
    padding: 20px 0 12px 0;
    font-size: 28px;
    color: #395144;
}

.dashboard__statics--wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}


.dashboard__statics {
    width: calc(100% / 2);
}

.dashboard__static {
    background-color: #395144;
    padding: 12px;
    border-radius: 8px;
}

.dashboard__statics--title {
    color: #fff;
}

.dashboard__statics--para {
    font-size: 32px;
    font-weight: 300;
    color: #F0EBCE;
}

/*

    CATEGORIES

*/

.categories__category {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.category {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 12px;
    max-width: calc(100% / 3);
    height: 100%;
}

.category__description {
    font-size: 20px;
    margin: 12px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category__description--price {
    color: #395144;
    border-bottom: 2px solid #395144;
}

.category__description--title {
    color: #395144;
}

.category__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

/*

    PIZZA

*/

.pizza__wrapper {
    max-width: 100%;
}

.pizza__content {
    display: flex;
    flex-basis: 50%;
    gap: 12px;
}

.pizza__description {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pizza__description--price {
    color: #395144;
    font-size: 30px;
}

.pizza__description--title {
    font-size: 40px;
}

.pizza__description--para {
    font-size: 18px;
}

.pizza__banner {
    width: 100%;
    max-width: 700px;
}

.pizza__banner--img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 12px;
}

div:has(> .form__select) {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form__choice {
    display: flex;
    gap: 8px;
}

.pizza__banner--container {
    position: relative;
    text-align: center;
    background: #242424;
    border-radius: 12px;
}

.pizza__bottom--banner {
    opacity: .5;
}

.pizza__banner--title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
}

.pizza__banner--btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*

    CHECKOUT

*/

.checkout__wrapper {
    display: flex;
    flex: 50%;
}

.checkout__half {
    width: 25%;
    margin: 0 12px;
}

.order__list--para {
    font-size: 14px;
    font-weight: 300;
    margin: 2px 0;
}

.order__last {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #395144 !important;
    width: 100%;
    border: none;
    border-radius: 0 0 8px 8px ;
    color: #F0EBCE;
    font-size: 22px;
    cursor: pointer;
}

.order__list--item {
    background: #F5F5F5;
    padding: 12px 8px;
    border-bottom: 2px solid #395144;
}

.checkout__banner {
    width: 100%;
    max-width: 50%;
    max-height: 500px;
}

.checkout__banner--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/*

    NEW PIZZA

*/

.newpizza__wrapper {
    display: flex;
}

.newpizza__form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 24px;
}

.newpizza__banner {
    max-width: 80%;
}

.newpizza__banner--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/*

    AUTH

*/

.auth__wrapper {
    display: flex;
}

.auth__child {
    width: 50%;
}

.auth__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
}

.auth input {
    padding: 4px 8px;
    border-radius: 12px;
    border: 1px solid #395144;
}

.auth__register--form {
    width: 50%;
}

.auth__register--input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.auth__banner--img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}